/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.heading {
  color: #ffffff;
  font-size: 45px;
  font-weight: bold;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 467px;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  color: #dd1264;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}

.first-last-name {
  background-color: #fddddb;
  padding: 30px;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  border-radius: 10px;
  flex-wrap: wrap;
}
